// colors
$white: #FFF;
$snow: #FAFAFA;
$quick-silver: #A0A0A0;
$jean-bean: #E56353;
$salmon: #E97F72;
$pastel-pink: #F0A9A1;
$granite-gray: #686963;
$taupe-gray: #91918D;
$gray: #BABAB8;

// fonts
$raleway: 'Raleway', sans-serif;
$raleway-extra-light: 200;
$raleway-regular: 400;
$raleway-bold: 700;

$font-size-xx-large: 100px;
$font-size-x-large: 70px;
$font-size-large: 50px;
$font-size-medium: 18px;

$primary-font: $raleway;
$primary-font-extra-light: $raleway-extra-light;
$primary-font-regular: $raleway-regular;
$primary-font-bold: $raleway-bold;
