.section-wrapper {
  font-family: $primary-font;
  font-weight: $primary-font-regular;
  margin: 0 auto;
  width: 80%;
}

.header {
  @extend .section-wrapper;
  background-color: $white;
  display: table;
  height: 60px;

  &__logo-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  &__logo {
    height: auto;
    margin: 0 0 0 70px;
    width: 200px;
  }
}

.banner {
  @extend .section-wrapper;
  background-color: $jean-bean;
  color: $white;
  display: table;
  font-size: $font-size-large;
  padding: 150px 0;
  text-align: center;

  &__title {
    display: table-cell;
    font-weight: $primary-font-extra-light;
    vertical-align: middle;

    &--highlighted-text {
      font-weight: $primary-font-bold;
      text-transform: uppercase;
    }
  }
}

.info {
  @extend .section-wrapper;
  background-color: $taupe-gray;
  color: $white;
  padding: 70px 0 50px;
  text-align: center;

  &--light {
    background-color: $white;
    color: $granite-gray;
  }

  &__banner {
    height: auto;
    width: 80%;
  }

  &__title {
    font-size: $font-size-medium;
    font-weight: $primary-font-bold;
    margin: 30px 0 0;
  }

  &__text {
    margin: 30px 20% 0;
    text-align: left;
  }
}

.staff {
  @extend .section-wrapper;
  background-color: $jean-bean;
  color: $white;
  display: table;
  font-size: $font-size-large;
  font-weight: $primary-font-bold;
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;

  &__text {
    display: table-cell;
    vertical-align: middle;
  }
}

.staff-members {
  @extend .section-wrapper;
  background-color: $white;
  color: $granite-gray;
  padding: 70px 0 80px;
  text-align: center;

  &__box {
    margin: 0 auto 40px;
    width: 60%;
  }

  &__box:last-child {
    margin: 0 auto;
  }

  &__avatar {
    height: auto;
    width: 300px;
  }

  &__name {
    font-size: $font-size-medium;
    font-weight: $primary-font-bold;
    margin: 20px 0 0;
  }

  &__bio {
    line-height: 1.5;
    margin: 20px 0 0;
    text-align: left;
  }
}

.contact {
  @extend .section-wrapper;
  background-color: $jean-bean;
  color: $white;
  display: table;
  font-size: $font-size-large;
  font-weight: $primary-font-bold;
  padding: 50px 0;
  text-align: center;

  &__title {
    display: table-cell;
    line-height: 1.5;
    vertical-align: middle;
  }
}

.footer {
  @extend .section-wrapper;
  background-color: $granite-gray;
  display: table;
  height: 200px;
  text-align: center;

  &__logo-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  &__logo {
    height: auto;
    width: 150px;
  }
}

